#custom
*.dat
*.code-workspace
.vscode/
vivado*.log
vivado*.jou
GASCore/vivado_hls/projects/
GASCore/build/
GASCore/repo
GASCore/vivado/projects/
share/build/
GASCore/testbench/build/
*_out.json
*.pyc
.initialized

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
